<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner-custom">
    <div class="container">
      <!--<%= link_to "SF DATE", root_path, id: "logo" %>-->
      <div class="headlogo"><%= link_to image_tag("SFDate.png", alt: "SFDate"), root_path %></div>
      <nav>
        <ul class="nav pull-right head">
          <% if signed_in? %>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <div class="form">
              <%= form_for(:session, url: sessions_path) do |f| %>
                <div class="email">
                  <%= f.text_field :email, :placeholder => "Email" %>
                </div>
              
                <div class="password">
                  <%= f.password_field :password, :placeholder => "Password" %>
                </div>
              
                <div class='sign-in'>
                  <%= f.submit "Sign in", class: "btn btn-custom" %>
                </div>
              <% end %>
            </div>
            <div class="register">
              <%= button_to "Register", signup_path, :method => "get", :class => "btn btn-custom" %>
            </div>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>